@import "bootstrap.min.css";

body {
    height: 100vh;
    margin: 0;
    display:flex;
    flex-direction:column;
    color: #EDF2F4;
    background-color: var(--bs-dark);
}

/* ===========[ Bottom Footer ]=========== */

footer {
    margin-top: auto;
    background-color: var(--bs-dark) !important;
}

/* ===========[ Error Toast ]=========== */

.toast-container {
    z-index: 2;
}

.toast-danger, .toast-danger > .toast-header {
    background-color: #f9e1e5;
    color: #af233a;
    border-color: #f4c8cf;
}

.toast-danger > .toast-header {
    border-bottom-width: 2px;
}

.game-form-container {
    max-width: 800px;
}

.game-container > div {
    flex: 1 0 0;
}

/* ===========[ Board ]=========== */

#board {
    background-color: var(--bs-dark);
    border-radius: 10px 10px 0 0;
    border-top: 10px solid var(--bs-primary);
}

/* ===========[ Card ]=========== */

.memory-card, #background > div {
    /* Disable selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

.memory-card {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}

.memory-card.selected .card-inner {
    transform: rotateY(180deg);
}

.memory-card.wrong .card-inner .card-front{
    background-color: #e15656;
}

.memory-card.found .card-inner .card-front{
    background-color: #56e172;
}

.card-front,.card-back {
    background-color: var(--bs-dark);
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,51);
    border-radius: 6px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-front {
    border: 2px solid #3bccf8;
    transition: background-color 0.3s;
    background-color: var(--bs-dark);
    color: white;
    transform: rotateY(180deg);
}

.card-back {
    border: 2px solid var(--bs-primary);
    background-color: var(--bs-dark);
}

.memory-card.visible > .card-front {
    display: block;
}

/* ===========[ Emoji Background ]=========== */

#background {
    position: fixed;
    z-index: -100;
    overflow: hidden;
    gap: 3em;
    padding: 20px;
    filter: blur(3px) brightness(80%);
}

#background > div {
    font-size: 50px;
    transform: rotate(-45deg);
    width: fit-content;
    height: fit-content;
}


/* ===========[ Form ]=========== */

.header, .body {
    background-color: var(--bs-dark);
    border-top: solid 10px #EF233C;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}

@media only screen and (min-width: 650px) {
    .header, .body {
        width: 600px;
    }
}

.header {
    margin-bottom: 30px;
}

.body button {
    font-weight: 300;
}

.body button.btn-lg {
    width: 430px;
    font-size: 30px;
    letter-spacing: 3px;
}

.body button.btn-sm {
    font-size: 27px;
}

#btn-return {
    font-size: 40px;
    height: 50px;
    line-height: 20px;
}

#player-names {
    min-height: 142px;
}

/* ===========[ Sidebar ]=========== */

.player-stats {
    min-width: 280px;
}

/* ===========[ Fancy-Card-Header ]=========== */

.fancy-card {
    width: max-content;
}

.fancy-card-header {
    height: 24px;
    background-color: var(--bs-primary);
    border-radius: 10px 10px 0 0;
    letter-spacing: 1px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.fancy-card-content.player-stats {
    background-color: var(--bs-secondary);
}

.fancy-card-content.player-stats.active > .fancy-card-header {
    background-color: var(--bs-primary);
}

.fancy-card-content {
    background-color: var(--bs-dark);
    font-size: 20px;
    padding-bottom: 10px;
}

.fancy-card-content hr {
    width: 80%;
    border-color: var(--bs-primary);
    margin: 0.5rem auto;
    opacity: 1;
}

.fancy-card-content .material-icons {
    font-size: 30px;
}