@import "bootstrap.min.css";

:root {
    --bg-color-1: #2B2D42;
    --color-primary: #EF233C;
    --color-white: #EDF2F4;
    --color-gray: #8D99AE;
}

body {
    height: 100vh;
    margin: 0;
    display:flex;
    flex-direction:column;
    color: #EDF2F4;
    background-color: var(--bg-color-1);
}

/* ===========[ Bottom Footer ]=========== */

footer {
    margin-top: auto;
    background-color: var(--bg-color-1) !important;
}

/* ===========[ Error Toast ]=========== */

.toast-container {
    z-index: 2;
}

.toast-danger, .toast-danger > .toast-header {
    background-color: #f9e1e5;
    color: #af233a;
    border-color: #f4c8cf;
}

.toast-danger > .toast-header {
    border-bottom-width: 2px;
}

.game-form-container {
    max-width: 800px;
}

/* ===========[ Board ]=========== */

#board {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(172, 170, 170);
    padding: 7px;
    align-content: space-around;
    justify-content: space-between;
}

/* ===========[ Card ]=========== */

.memory-card {
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    background-color: rgb(172, 170, 170);
    border: 0;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
}

.memory-card.selected .card-inner {
    transform: rotateY(180deg);
}

.memory-card.wrong .card-inner .card-front{
    background-color: #e15656;
}

.memory-card.found .card-inner .card-front{
    background-color: #56e172;
}

.card-front,.card-back {
    border-radius: 6px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-front {
    transition: background-color 0.3s;
    background-color: rgb(134, 132, 132);
    color: white;
    transform: rotateY(180deg);

    /* Disable selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.card-back {
    background-color: rgb(71, 68, 68);
}

.memory-card.visible > .card-front {
    display: block;
}

/* ===========[ Emoji Background ]=========== */

#background {
    position: fixed;
    z-index: -100;
    overflow: hidden;
    gap: 3em;
    padding: 20px;
    filter: blur(3px) brightness(80%);
    background-color: var(--bg-color-1);
}

#background > div {
    font-size: 50px;
    transform: rotate(-45deg);
    width: fit-content;
    height: fit-content;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


/* ===========[ Form ]=========== */

.header, .body {
    background-color: var(--bg-color-1);
    border-top: solid 10px #EF233C;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}

@media only screen and (min-width: 650px) {
    .header, .body {
        width: 600px;
    }
}

.header {
    margin-bottom: 30px;
}

.body button {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 300;
}

.body button.btn-lg {
    width: 430px;
    font-size: 30px;
    letter-spacing: 3px;
}

.body button.btn-sm {
    font-size: 27px;
}

.body button:hover {
    background-color: #d01f34 !important;
}

.body hr {
    color: var(--color-gray) !important;
    opacity: 1 !important;
}

#btn-return {
    font-size: 40px;
    height: 50px;
    line-height: 20px;
}

#player-names {
    min-height: 142px;
}